NET "clk" LOC = T9;
NET "ce" LOC = K13;
NET "reset" LOC = K14;
NET "sd[0]" LOC = E14;
NET "sd[1]" LOC = G13;
NET "sd[2]" LOC = N15;
NET "sd[3]" LOC = P15;
NET "sd[4]" LOC = R16;
NET "sd[5]" LOC = F13;
NET "sd[6]" LOC = N16;
NET "an0" LOC = D14;
NET "an1" LOC = G14;
NET "an2" LOC = F14;
NET "an3" LOC = E13;
NET "botons" LOC = M13;
#NET "botonds" LOC = M14;
NET "botonm" LOC = L13;
#NET "botondm" LOC = L14;
NET "ledce" LOC = J13;
NET "ledsalida" LOC = P16;